{% extends 'base.html.twig' %}

{% block title %}Hello DistrictController!{% endblock %}

{% block body %}
    <div class="d-grid gap-2">
        <a class="btn btn-primary" href="{{ path('app_district_fetch') }}">Pobierz dzielnice</a>
    </div>

    <district-index-component class="mt-3"></district-index-component>
{% endblock %}
