<template>
  <div>
    <!-- Filter Inputs -->
    <div class="row">
      <div v-for="filter in filters" :key="filter.key" class="col-sm-4 mb-2">
        <label>{{ filter.label }}</label>
        <input v-if="filter.type === 'text'" class="form-control" v-model="filter.value">
        <input v-else-if="filter.type === 'number'" class="form-control" type="number" v-model="filter.value">
      </div>
    </div>

    <!-- Sort Inputs -->
    <div class="row my-3">
      <div v-for="sortInput in sortInputs" :key="sortInput.key" class="col-sm-4 mb-2">
        <label>{{ sortInput.label }}</label>
        <select class="form-select" v-model="sortInput.model">
          <option v-for="option in sortInput.options" :key="option.value" :value="option.value">{{ option.label }}</option>
        </select>
      </div>
    </div>

    <!-- Cards -->
    <div class="row">
      <div class="col-sm-4 mb-3" v-for="district in districts" :key="district.id">
        <district-component :district="district"></district-component>
      </div>
    </div>
  </div>
</template>

<script>
import _debounce from "lodash/debounce";
import axios from "axios";
import DistrictComponent from "./DistrictComponent.vue";

export default {
  name: "DistrictListComponent",
  components: {DistrictComponent},

  data() {
    return {
      districts: [],
      filters: [
        {key: "name", label: "Nazwa", type: "text", value: null},
        {key: "areaMin", label: "Powierzchnia od", type: "number", value: null},
        {key: "areaMax", label: "Powierzchnia do", type: "number", value: null},
        {key: "populationMin", label: "Liczba ludności od", type: "number", value: null},
        {key: "populationMax", label: "Liczba ludności do", type: "number", value: null},
      ],
      sortInputs: [
        {
          key: "sortBy",
          label: "Sortuj po",
          model: "name",
          options: [
            {label: "Nazwa", value: "name"},
            {label: "Powierzchnia", value: "area"},
            {label: "Ludność", value: "population"},
          ],
        },
        {
          key: "sortOrder",
          label: "Kolejność sortowania",
          model: "asc",
          options: [
            {label: "Rosnąco", value: "asc"},
            {label: "Malejąco", value: "desc"},
          ],
        },
      ],

      debouncedFetchData: _debounce(this.fetchData, 500),
    };
  },

  mounted() {
    this.fetchData();
  },

  methods: {
    fetchData() {
      const params = {};
      this.filters.forEach((filter) => {
        params[filter.key] = filter.value;
      });
      params.sort = this.sortInputs[0].model;
      params.order = this.sortInputs[1].model;

      axios.get("/api/district", {params}).then((response) => (this.districts = response.data));
    },
  },

  watch: {
    filters: {
      handler: "debouncedFetchData",
      deep: true,
    },
    sortInputs: {
      handler: "debouncedFetchData",
      deep: true,
    },
  },
};
</script>