<template>
  <div class="card">
    <img :src="district.imagePath" class="card-img-top district-image">
    <div class="card-body">
      <h5 class="card-title">{{ district.name }}</h5>
      <p class="card-text">
        Powierzchnia: {{ district.area }} m²<br>
        Populacja: {{ district.population }}
      </p>
      <form class="d-flex" @submit.prevent="uploadImage">
        <input type="file" class="form-control" id="image" ref="fileInput" @change="handleFileChange">
        <button class="btn btn-primary ms-2" type="submit">Zapisz</button>
      </form>
    </div>
  </div>
</template>

<style scoped>
.district-image {
  height: 200px;
  width: 100%;
  object-fit: scale-down;
}
</style>

<script>
import axios from "axios";

export default {
  name: "DistrictComponent",

  props: {
    district: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      selectedFile: null,
    }
  },

  methods: {
    async uploadImage() {
      if(!this.selectedFile){
        this.$notify('Dodaj zdjęcie które chcesz zapisać.')
      }
      else{
        try {
          const formData = new FormData();
          formData.append('image', this.selectedFile);

          await axios.post(`/api/district/${this.district.id}`, formData).then((response) => {
            this.$notify(response.data);
          });

        } catch (error) {
          console.error('Error uploading image:', error);
        }
      }
    },

    previewImage() {
      const reader = new FileReader();
      reader.onload = () => {
        this.district.imagePath = reader.result;
      };
      reader.readAsDataURL(this.selectedFile);
    },

    handleFileChange(event) {
      this.selectedFile = event.target.files[0];

      if (this.selectedFile) {
        this.previewImage();
      }
    },
  },
}
</script>
